.gl-py-3
  = render Pajamas::AlertComponent.new(variant: alert_variant,
    dismissible: true,
    title: alert_title,
    alert_options: { class: 'js-namespace-storage-alert',
                    data: { feature_id: callout_feature_name,
                            dismiss_endpoint: alert_callout_path,
                            group_id: root_namespace_id,
                            defer_links: "true" }}) do |c|
    = c.body do
      = sprite_icon(alert_icon, css_class: "gl-icon gl-alert-icon")
      = alert_message
      = link_to _('Learn more.'), help_page_path('user/usage_quotas'), target: '_blank', rel: 'noopener noreferrer'

    - if purchase_link || usage_quotas_link
      = c.actions do
        - if purchase_link
          = link_to(_('Purchase more storage'), purchase_link, class: "btn gl-alert-action btn-md gl-button btn-confirm")
        - if usage_quotas_link
          = link_to(_('View usage details'), usage_quotas_link, class: "btn gl-alert-action btn-md gl-button btn-default")
